html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(./assets/Vector.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

p {
    font-family: 'Manrope';
    font-style: normal;
    line-height: 75.8%;
    color: white;
    opacity: 0.8;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

input {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    font-family: 'Manrope';
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;
}

    input:focus {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 40px;
        font-family: 'Manrope';
        font-weight: 700;
        outline: none;
    }

.floating-nav {
    position: fixed;
    background-color: #42DDE61A;
    width: 256px;
    height: 56px;
    z-index: 1500;
    bottom: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px 32px;
}

.nav-icon {
    height: 24px;
    width: 24px;
}

.floating-menu {
    position: fixed;
    background-color: #FFFFFF66;
    width: 100%;
    height: 255px;
    z-index: 1500;
    bottom: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-left: -8px;
    display: block;
    visibility: hidden;
    backdrop-filter: blur(15px);
}

.dropdown {
    border: none;
    border-radius: 0px;
    height: 60px;
    background-color: #A8A8A866;
    width: 82px;
    display: flex;
    justify-content: center;
}

.dropdown_menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 82px;
    height: 141px;
    right: 16px;
    bottom: 16px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 16px rgba(3, 43, 46, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    visibility: hidden;
    z-index: 1501;
    height: 100px;
}

.dropdown_menu-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 82px;
    height: 141px;
    right: 16px;
    top: 76px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 16px rgba(3, 43, 46, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    visibility: hidden;
    z-index: 1501;
    height: 100px;
}

.expenses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 16px 16px;
    gap: 20px;
    background: rgba(3, 43, 46, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-cat {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 70px;
    height: 70px;
    background: rgba(12, 40, 42, 0.4);
    border-radius: 10px;
}

.cat-img {
    width: 24px;
    height: 24px;
}

.cat-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 75.8%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 16px 16px;
    gap: 20px;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    align-self: stretch;
}
