html {
  height: 100%;
  overflow: hidden;
}

body {
  background-repeat: no-repeat;
  overflow: hidden;
}

p {
  font-family: "Manrope";
  font-style: normal;
  line-height: 100%;
  color: white;
  opacity: 0.8;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

input {
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.425);
  font-size: 36px;
  font-family: "Manrope";
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.425);
  font-size: 36px;
  font-family: "Manrope";
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
}

.nav-icon {
  height: 24px;
  width: 24px;
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  gap: 20px;
  background: rgba(3, 43, 46, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-cat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-top: 24px;
}

.cat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 70px;
  height: 70px;
  background: rgba(12, 40, 42, 0.4);
  border-radius: 10px;
}

.cat-img {
  width: 24px;
  height: 24px;
}

.cat-name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 75.8%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.transactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  gap: 20px;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  align-self: stretch;
}

.hidden {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
}

.transaction-history {
  padding: 24px 16px 16px 24px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-main {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.section-main {
  margin-top: 120px;
}

.budget {
  font-size: 54px;
  font-weight: 700;
}

.create-expence {
  margin-top: 24px;
  background-color: rgba(0, 0, 0, 0.253);
  width: 100%;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  box-sizing: border-box;
}

.section-history {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background: #5f6d6f;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
}

button:hover {
  background: #6f7f81;
}

button:active {
  background: #4e5c5e;
  transform: scale(0.97);
}

button.vertical {
  flex-direction: column;
  padding: 14px;
  font-size: 12px;
}

.list-transaction {
  margin-top: 24px;
}

#text-history:hover {
  text-decoration: underline;
}

.tx-text {
  font-size: 36px;
  margin-bottom: 12px;
}
